/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* style */

body {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  height: 100vh;
  width: 100vw;

  &.focused {
    background: url(https://img.bald3r.wang/img/mountain-grey.jpg) center;
  }

  &::after {
    content: '';

    height: 300px;
    width: 100px;

    z-index: 0;
  }
}

.topIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;

  padding: 8px;
  width: 44px;
  height: 44px;
  cursor: pointer;

  fill: #e6e6e6;

  border-radius: 50%;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  transition: all 50ms;

  &:active {
    transform: scale(0.8);
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.weather {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  transition: all 250ms;
  opacity: 1;
  pointer-events: none;
  text-align: center;
  width: 182px;
  height: 44px;

  &.hidden {
    opacity: 0;
  }
}

.searchBox {
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  position: absolute;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;


  height: 40px;
  width: 250px;
  margin-bottom: 70px;
  padding: 10px;

  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px 1px gray;
  background: rgba(255, 255, 255, 0.5);
  transition: all 150ms ease;


  @media (max-width: 500px) {
    top: 200px;

    width: 200px;

  }

  &.focused {
    width: 400px;
    background: rgba(255, 255, 255, 0.7);

    @media (max-width: 500px) {
      width: 200px;
    }

    ::placeholder {
      color: #646464;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
  }

  & input {
    flex-grow: 1;

    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    background: transparent;
    font-size: 20px;
    transition: all 250ms ease-in-out;

    &::placeholder {
      color: white;
      font-size: 16px;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

      transition: all 250ms;
    }
  }

  > .searchBox-btn {
    > .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.15em;
      fill: #666666;
      overflow: hidden;

      opacity: 0;
      transition-delay: 0.3s;
      transition: all 250ms ease;

      &.active {

        opacity: 1;
      }
    }

  }


  &:hover {
    width: 530px;
    background: rgba(255, 255, 255, 0.9);
    @media (max-width: 500px) {
      width: 90vw;

    }

    ::placeholder {
      color: #646464;
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }
  }


}

.headTime {
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  position: fixed;
  top: 115px;
  height: 70px;
  z-index: 2;
  pointer-events: none;
  user-select: none;

  margin-bottom: 50px;

  font-size: 64px;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px grey;
  transition: all 150ms ease;

  @media (max-width: 500px) {
    top: 90px;

  }
}

.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  > .bgShade {
    width: 100vw;
    height: 100vh;

    z-index: 2;
    opacity: 0.7;
    animation: easeIn 1s;

    @keyframes easeIn {
      from {
        background: black;
      }
      to {
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
        //background: white;
      }

    }


    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
    @media (max-width: 500px) {
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(43, 43, 43, 0.65) 65%, rgba(0, 0, 0, 0.75) 100%);
    }
  }

  > .bgImg {

    //background: url(./bg.jpg) center;
    background: url(https://img.bald3r.wang/img/mountain-grey.jpg) center;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 250ms linear;
    z-index: 1;

    &.focused {
      filter: blur(5px);
      transform: scale(1.05);
    }
  }
}

.siteWrapper {

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 60px 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 400ms;

  @media (max-width: 500px) {
    padding: 0;

  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .globalMain {
    z-index: 2;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    height: 80vh;
    width: 75vw;

    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px gray;
    background: rgba(255, 255, 255, 0.5);
    transition: all 150ms ease;

    @media (max-width: 500px) {
      height: 100vh;
      width: 100vw;
      border-radius: 0;
    }


    > .siteList {
      $siteSize: 120px;

      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      padding: 40px;

      overflow: auto;
      height: 100%;

      @media (min-width: 500px) {
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
      }


      > li {
        margin-bottom: 40px;

        @media (min-width: 500px) {
          margin-right: 25px;
        }


        > .site {
          width: $siteSize;
          height: $siteSize;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background: transparent;
          border-radius: 10px;
          padding: 20px 0;
          position: relative;
          cursor: pointer;
          backdrop-filter: blur(5px);
          box-shadow: 0 0 5px 2px grey;
          color: white;
          text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);

          > .logo {
            width: 64px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 64px;
            text-transform: uppercase;
          }

          > .link {
            font-size: 14px;
            margin-top: 4px;
          }

          > .close {
            position: absolute;
            right: 4px;
            top: 4px;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;

            transition: all 150ms;

            @media (max-width: 500px) {
              opacity: 1;
              pointer-events: auto;
            }

            > svg {
              width: 16px;
              height: 16px;
              fill: white;
            }
          }

          &:hover > .close {
            opacity: 1;
            pointer-events: auto;
          }
        }

        &.last {

          > .addButton {
            width: $siteSize;
            height: $siteSize;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            padding: 35px 0;
            background: transparent;
            backdrop-filter: blur(5px);
            border-radius: 10px;
            box-shadow: 0 0 5px 2px gray;
            color: white;
            text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);

            > .icon {
              width: 64px;
              height: 64px;
              display: flex;
              fill: white;
              justify-content: center;
              align-items: center;
            }

            > .text {
              font-size: 14px;
              margin-top: 4px;
            }
          }
        }

      }

      > .icon > img {
        height: 54px;
        width: 54px;
      }

    }
  }
}






